div.login {
    text-align: center;
    border: 5px solid red;
    background-color: aqua;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

h1.TituloLogin {
    color: black;
    border: 2px dotted red;
    width: 150px;
    align-items: center;
    background-color: red;
    margin: auto;
}

h1.inicio {
    background-color: red;
    width: 90px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
}

.usuario {
    background-color: white;
}

.clave {
    background-color: white
}

.BotonEntrar {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 15px;
}